<table>
  <tr valign="top">
    <td><img src="{{ post.author.avatar(36) }}" alt="" /></td>
    <td>
      <a href="{{ url_for('main.user', username=post.author.username) }}">
        {{ post.author.username }}
      </a>
      said {{ moment(post.timestamp).fromNow() }}:
      <br />{{ post.body }}
    </td>
  </tr>
</table>
